Package: {{bundleId}}
Name: {{projectName}}
Version: 0.0.1
Architecture: iphoneos-arm
Description: {{projectDescription}}
Maintainer: {{author}}
Author: {{author}}
Section: Utilities
Depends: firmware (>= 14.0)
