.new-templates-container {
  display: flex;
  gap: var(--padding-lg);
  flex-wrap: wrap;
}

.new-template-card {
  max-width: 500px;
  flex-grow: 1;
  flex-basis: 400px;
  cursor: pointer;
}

.new-template-card:hover {
  filter: brightness(0.8);
}

.new-template-form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  width: 100%;
}
.new-template-field {
  display: flex;
  align-items: center;
  gap: var(--padding-lg);
  width: 100%;
}

.new-template-field-input {
  flex-grow: 1;
}
