.onboarding {
  padding: var(--padding-lg);
  display: flex;
  flex-direction: column;
  gap: var(--padding-lg);
}

.onboarding h1,
.onboarding p {
  margin: 0;
}

.onboarding-header {
  display: flex;
  align-items: center;
  gap: var(--padding-lg);
}

.onboarding-buttons {
  display: flex;
  gap: var(--padding-lg);
}

.onboarding-logo {
  width: 6rem;
  height: 6rem;
}

.onboarding-cards {
  display: flex;
  flex-direction: column;
  gap: var(--padding-lg);
}

.disabled-button {
  cursor: not-allowed;
}
