.prefs-container {
  padding: var(--padding-xs);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.prefs-sidebar-container {
  width: 150px;
  float: left;
  padding-right: var(--padding-md);
  height: 100%;
  box-sizing: border-box;
  display: flex;
}

.prefs-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.prefs-sidebar-item:hover {
  background-color: #00000030;
  cursor: pointer;
}

.prefs-setting {
  display: flex;
  gap: var(--padding-sm);
}
